.fa-medal{
    margin-right: 2vw;
    font-size: 30px;
}
.heading-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: 6vw;
}
.fa-ranking-star{
    margin-right: 20px;
    font-size: 35px;
}
h2{
    font-size: 30px;
}
.leaderboard{
    display: grid;
    grid-template-columns: 100%;
}
.leaderboard-player{
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 129, 255);
    font-size: 20px;
    padding: 5px 10px;
}
.leaderboard-player:nth-child(2n){
    background-color: rgb(92, 33, 126);
}
.leaderboard-player:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.player-info{
    display: grid;
    grid-template-columns: 40px 60px 170px;
    align-items: center;
}
.player-stats{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag-image{
    width: 55px;
    border-radius: 8px;
}
.accuracy{
    margin-right: 10px;
}
.leaderboard-explanation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 20px;
}
.explanation-accuracy{
    margin-right: 30px;
}