.fa-medal{
    margin-right: 2vw;
    font-size: 30px;
}
.heading-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: 6vw;
}
.fa-ranking-star{
    margin-right: 20px;
    font-size: 35px;
}
h2{
    font-size: 30px;
}
.leaderboard{
    display: grid;
    grid-template-columns: 100%;
}
.leaderboard-player{
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 129, 255);
    font-size: 20px;
    padding: 5px 10px;
}
.leaderboard-player:nth-child(2n){
    background-color: rgb(92, 33, 126);
}
.leaderboard-player:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.player-info{
    display: grid;
    grid-template-columns: 40px 60px auto;
    gap: 10px;
    align-items: center;

}
.player-stats{
    display: grid;
    gap: 20px;
    grid-template-columns: 70px 70px;
    align-items: center;
}
.flag-image{
    width: 55px;
    border-radius: 8px;
}
.accuracy{
    margin-right: 10px;
}
.leaderboard-explanation{
    display: none;
    justify-content: flex-end;
    gap: 30px;
    grid-template-columns: 70px 70px;
    margin-bottom: 5px;
}
.loading-indicator{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 10px;
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.spinner {
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@media(max-width: 543px){
    .player-stats{
        grid-template-columns: auto;
        gap: 0;
    }
    .player-info{
        grid-template-columns: auto;
        gap: 0;
    }
    .leaderboard-explanation{
        grid-template-columns: auto;
        gap: 0;
    }
    .explanation-accuracy{
        margin: 0;
    }
    .accuracy{
        margin: 0;
    }
}
@media(max-width: 357px){
    .player-info{
        grid-template-columns: 40px;
        gap: 0;
    }
}