body {
    background-color: #060606;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url("/obrázky/header-background2.png");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

nav {
    display: flex;
    align-items: center;
}

ul{
    display: flex;
}

.logo {
    height: 170px;
    margin-left: 4vw;
}

.header-text {
    margin-right: 4vw;
    text-decoration: none;
    font-size: 30px;
    font-family: Inter;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.452);
}
.header-text:hover{
    color: rgb(207, 177, 255);
}

main {
    font-family: Inter;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.452);
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 30px;
    position: relative;
    top: -100px;
}

.site-info {
    background-color: #250D2B;
    display: flex;
    align-items: center;
    padding: 20px 2vw;
    font-size: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.site-content{
    background-color: #121212;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px 5px #32115c2a;
    padding-bottom: 20px;
}
.footer{
    background-color: black;
    border-top: 1px solid rgb(59, 59, 59);
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact{
    margin-left: 18vw;
    font-family: Inter;
    font-size: 18px;
}
.footer-icons{
    margin-right: 18vw;
    font-family: Inter;
    font-size: 30px;
}
.fa-instagram{
    margin-right: 10px;
    cursor: pointer;
}
.fa-reddit{
    cursor: pointer;
}